<style>
body, p, div {
  font-family: 'Monospace Italic', 'Likhan Italic', 'Cantarell Thin', 'Incosolata Regular', 'Source Code Pro Regular';
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

li { cursor: pointer; }

/* Left column (menu) */
.left {
  flex: 15%;
  padding: 15px 0;
  font-family: 'Monospace Italic';
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
  font-size: 14px;
  /*font-family: Consolas;*/
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 16px;
  padding: 11px;
  border: 1px solid #dddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-left: 5px;
  /*font-family: Consolas;*/
}

#myMenu li {
  padding: 3px;
  text-decoration: none;
  color: black;
  display: block
}

/*#myMenu li hover {
  background-color: #eee;
}*/

p.sourcecode {
    background-color: #e9cbaf;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    font-size: 12px;
    /*border: 1px solid #faf2eb;*/
    padding-left: 5px;
    font-family: 'Noto Sans Mono Medium', 'Incosolata Regular', 'Source Code Pro Regular';
}

span.comment {
    color:gray;
    font-style: italic;
}
   
</style>
