<h2><ins>AWK</ins></h2>
<h3>1. Parsovanie stringov:</h3>
<p>Vypíše reťazec za znakom '=', výstup bude 'retazec2':</p>
<div class="codehilite"><pre><span></span><code><span class="nb">echo</span><span class="w"> </span><span class="nv">retazec1</span><span class="o">=</span>retazec2<span class="w"> </span><span class="p">|</span><span class="w"> </span>awk<span class="w"> </span>-F<span class="s1">&#39;=&#39;</span><span class="w"> </span><span class="s1">&#39;{print $2}&#39;</span>
</code></pre></div>