<h2><ins>Bash</ins></h2>
<h3>1. Základy</h3>
<p>Podmienky( <code>-lt</code>, <code>-ge</code>, ...), manuál:</p>
<div class="codehilite"><pre><span></span><code>man<span class="w"> </span><span class="nb">test</span>
</code></pre></div>

<h3>2. Podmienky</h3>
<div class="codehilite"><pre><span></span><code><span class="ch">#!/bin/bash</span>
<span class="nv">A</span><span class="o">=</span><span class="m">1</span>
<span class="c1">#legacy style(používaný aj v starších shell-och)</span>
<span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span><span class="nv">$A</span><span class="w"> </span>-eq<span class="w"> </span><span class="m">1</span><span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span><span class="w"> </span><span class="nb">echo</span><span class="w"> </span>OK<span class="p">;</span><span class="w"> </span><span class="k">else</span><span class="w"> </span><span class="nb">echo</span><span class="w"> </span>not<span class="w"> </span>OK<span class="p">;</span><span class="w"> </span><span class="k">fi</span>

<span class="c1">#rozšírená verzia(s dvomi &#39;[[&#39;), špecifická pre Bash a niektoré iné moderné shelly</span>
<span class="k">if</span><span class="w"> </span><span class="o">[[</span><span class="w"> </span><span class="nv">$A</span><span class="w"> </span>-eq<span class="w"> </span><span class="m">1</span><span class="w"> </span><span class="o">]]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span><span class="w"> </span><span class="nb">echo</span><span class="w"> </span>OK<span class="p">;</span><span class="w"> </span><span class="k">else</span><span class="w"> </span><span class="nb">echo</span><span class="w"> </span>not<span class="w"> </span>OK<span class="p">;</span><span class="w"> </span><span class="k">fi</span>
<span class="nv">retazec</span><span class="o">=</span><span class="s2">&quot;8855&quot;</span>
<span class="k">if</span><span class="w"> </span><span class="o">[[</span><span class="w"> </span><span class="nv">$retazec</span><span class="w"> </span><span class="o">=</span>~<span class="w"> </span>^<span class="o">[</span><span class="m">0</span>-9<span class="o">]</span>+$<span class="w"> </span><span class="o">]]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span><span class="w"> </span><span class="nb">echo</span><span class="w"> </span><span class="s2">&quot;Reťazec je číselný.&quot;</span><span class="p">;</span><span class="w"> </span><span class="k">fi</span>
</code></pre></div>

<h3>3. Funkcie</h3>
<p>Deklarácia a volanie funkcie:</p>
<div class="codehilite"><pre><span></span><code>status<span class="o">()</span><span class="w"> </span><span class="o">{</span><span class="w"> </span><span class="c1">#deklarácia funkcie</span>
<span class="w">    </span><span class="nb">echo</span><span class="w"> </span>Function<span class="w"> </span>called!
<span class="o">}</span>

status<span class="w"> </span><span class="c1">#volanie funkcie status()</span>
</code></pre></div>

<h3>4. Cykly</h3>
<div class="codehilite"><pre><span></span><code><span class="k">for</span><span class="w"> </span>x<span class="w"> </span><span class="k">in</span><span class="w"> </span><span class="o">{</span><span class="m">1</span>..5<span class="o">}</span><span class="p">;</span><span class="w"> </span><span class="k">do</span>
<span class="w">    </span><span class="nb">echo</span><span class="w"> </span><span class="nv">$x</span>
<span class="k">done</span>
</code></pre></div>

<h3>5. Commands(Príkazy)</h3>
<ul>
<li>
<p>spustenie viacerých príkazov v <strong>separátnom shell(subshell)</strong>, izolovanom od aktuálneho shell:</p>
<div class="codehilite"><pre><span></span><code><span class="o">(</span><span class="w"> </span>ls<span class="w"> </span>~<span class="p">;</span><span class="w"> </span>whoami<span class="w"> </span><span class="o">)</span>
</code></pre></div>

</li>
<li>
<p>spustenie toho istého, ale v <strong>aktuálnom shell</strong>:</p>
<div class="codehilite"><pre><span></span><code><span class="o">{</span><span class="w"> </span>ls<span class="w"> </span>~<span class="p">;</span><span class="w"> </span>whoami<span class="p">;</span><span class="w"> </span><span class="o">}</span>
</code></pre></div>

</li>
<li>
<p>matematické operácie:</p>
<div class="codehilite"><pre><span></span><code><span class="nv">result</span><span class="o">=</span><span class="k">$((</span><span class="m">5</span><span class="o">*</span><span class="m">4</span><span class="o">+</span><span class="m">1</span><span class="k">))</span>
<span class="nb">echo</span><span class="w"> </span><span class="nv">$result</span>
</code></pre></div>

</li>
<li>
<p>volanie príkazu so zachytením výsledku:</p>
<div class="codehilite"><pre><span></span><code><span class="nv">result</span><span class="o">=</span><span class="k">$(</span>grep<span class="w"> </span><span class="s2">&quot;configure&quot;</span><span class="w"> </span>/var/log/dpkg.log<span class="k">)</span>
<span class="nb">echo</span><span class="w"> </span><span class="nv">$result</span>
</code></pre></div>

</li>
</ul>
<h3>6. Súbory</h3>
<p>Check či súbor existuje(dôležité je dodržať medzeru za <code>if</code>):</p>
<div class="codehilite"><pre><span></span><code><span class="ch">#!/usr/bin/bash</span>

<span class="nv">SUBOR_CESTA</span><span class="o">=</span>/usr/bin/bash2
<span class="k">if</span><span class="w"> </span><span class="o">[[</span><span class="w"> </span>!<span class="w"> </span>-f<span class="w"> </span><span class="nv">$SUBOR_CESTA</span><span class="w"> </span><span class="o">]]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
<span class="w">    </span><span class="nb">echo</span><span class="w"> </span><span class="s2">&quot;Subor &#39;</span><span class="si">${</span><span class="nv">SUBOR_CESTA</span><span class="si">}</span><span class="s2">&#39; sa nenasiel!&quot;</span>
<span class="w">    </span><span class="nb">exit</span><span class="w"> </span><span class="m">1</span>
<span class="k">fi</span>

<span class="nb">printf</span><span class="w"> </span><span class="s2">&quot;OK, subor &#39;%s&#39; mame!\n&quot;</span><span class="w"> </span><span class="nv">$SUBOR_CESTA</span>
</code></pre></div>

<h3>7. Strings(Reťazce)</h3>
<p>Nahradenie <code>.txt</code> -&gt; <code>.bak</code></p>
<div class="codehilite"><pre><span></span><code><span class="nv">filename</span><span class="o">=</span>nieco.txt
<span class="nb">echo</span><span class="w"> </span><span class="si">${</span><span class="nv">filename</span><span class="p">%.txt</span><span class="si">}</span>.bak
</code></pre></div>

<h3>8. Rozširená expanzia parametrov</h3>
<p><code>B=w/x/y/z &amp;&amp; echo ${B##*x/}</code> vráti <code>y/z</code>
<br><br>
<code>C=/opt/filename.tmp &amp;&amp; echo ${C##*.}</code> vráti <code>tmp</code> - vhodné pri názvoch súborov napríklad
<br><br>
<code>B=w/x/y/z &amp;&amp; echo ${B%y*}</code> vráti <code>w/x/</code></p>
<p>Kontrolór správnosti skriptov: <a href="https://www.shellcheck.net/">shellcheck</a></p>