<h2><ins>pacman - package manager utility</ins></h2>
<h3>1. Hľadanie</h3>
<p>Pohľadá knižnicu v repozitároch(funguje len online =&gt; hľadá v remote repo)</p>
<div class="codehilite"><pre><span></span><code>sudo<span class="w"> </span>pacman<span class="w"> </span>-Fy<span class="w"> </span>&amp;&amp;<span class="w"> </span>pacman<span class="w"> </span>-Fx<span class="w"> </span>libalsa*
</code></pre></div>

<p>Závislosti pre package, tu 'git' - môže nastať situácia, že chýba určitá dependency pre package.<br>
V prípade git môže chýbať package, ktorý spôsobí error <code>wish not found</code><br>
V tomto prípade by mal chýbať package <code>tk</code> =&gt; <code>sudo pacman -Sy tk</code></p>
<div class="codehilite"><pre><span></span><code>pacman<span class="w"> </span>-Ql<span class="w"> </span>git<span class="w"> </span><span class="p">|</span><span class="w"> </span>grep<span class="w"> </span>gitk
</code></pre></div>

<h3>2. Keyrings</h3>
<p>Po offline inštalácii ak nefunguje repo update:</p>
<div class="codehilite"><pre><span></span><code>sudo<span class="w"> </span>pacman<span class="w"> </span>-S<span class="w"> </span>archlinux-keyring
sudo<span class="w"> </span>pacman-key<span class="w"> </span>--refresh-keys
</code></pre></div>

<h3>3. Remove</h3>
<p>Odstránenie orphaned packages:</p>
<div class="codehilite"><pre><span></span><code>sudo<span class="w"> </span>pacman<span class="w"> </span>-Qdtq<span class="w"> </span><span class="p">|</span><span class="w"> </span>sudo<span class="w"> </span>pacman<span class="w"> </span>-Rns<span class="w"> </span>-
</code></pre></div>

<p>Odstránenie konkrétneho package:</p>
<div class="codehilite"><pre><span></span><code>sudo<span class="w"> </span>pacman<span class="w"> </span>-R<span class="w"> </span>pkg
</code></pre></div>

<p>Zdroj: https://www.jr-it-services.de/title-a-guide-to-cleaning-up-build-artifacts-on-arch-linux-for-a-leaner-system/</p>